.photo-grid {
    padding: 92px 48px 92px;
    max-width: 1184px;
  }
  
  @media screen and (max-width: 780px) {
  .photo-grid {
    padding: 88px 24px 88px;
    }
  }
  
  @media screen and (max-width: 520px) {
  .photo-grid {
    padding: 64px 16px 64px;
    }
  }