.header {
    display: flex;
    max-width: 1184px;
    color: #fff;
    padding: 28px 48px 0;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  @media screen and (max-width: 990px) {
    .header {
    padding: 28px 24px 0;
    }
  }

  @media screen and (max-width: 520px) {
    .header {
    padding: 16px 16px 0;
    }
  }